<form data-bind="submit:filtr">
    <div><input name="filter" type="text" />
    <button id="search" class="first_step" type="submit">Szukaj</button></div>
</form>

<div id="TableOfUser">
<table id="userList">
    <thead>
        <tr><th>First name</th><th>Last name</th><th>Phone Number</th><th>e-mail</th><th>Room Number</th><th>Event Name</th><th>Event Date</th><th>Sign Date</th></tr>
    </thead>
    <tbody data-bind="foreach: viewModel.users">
        <tr>
            <td data-bind="text:imie "></td>
            <td data-bind="text:nazwisko "></td>
            <td data-bind="text:nr_telefonu "></td>
            <td data-bind="text:email "></td>
            <td data-bind="text:id_kwaterunek "></td>
            <td data-bind="text:rodz_wydarzenia "></td>
            <td data-bind="text:data_wydarzenia "></td>
            <td data-bind="text:data_zapisu "></td>
        </tr>
    </tbody>
</table>
    </div>




@section scripts
{


    <script language="javascript">




        $(document).ready(function () {
            ko.applyBindings(new UsersViewModel());
            viewModel.getUsers();

        });

        var viewModel = {
            users: ko.observableArray(),
            getUsers: function (formElement) {
                var self = this;
                if ($(formElement).serialize() == 'filter=') {
                    $.getJSON("http://localhost:54733/api/Admin", function (data) {
                        self.users.removeAll();
                        self.users(data);
                    });
                } else {
                    $.getJSON("http://localhost:54733/api/Admin", $(formElement).serialize(), function (data) {
                        self.users.removeAll();
                        self.users(data);
                    });
                }
            }


        }

        function UsersViewModel() {

            var baseUri = "http://localhost:54733/api/Admin";
            this.filtr = function (formElement) {
                viewModel.getUsers($(formElement));
            }

        }

    </script>

}
