
<form data-bind="submit: create">
    <div>First Name:</div>
    <div><input type="text" name="firstName" /></div>
    <div>Last Name:</div>
    <div><input type="text" name="lastName" /></div>
    <div>nr_telefonu:</div>
    <div><input type="text" name="phoneNumber" /></div>
    <div>email:</div>
    <div><input type="text" name="email" /></div>
    <div>Numer Pokoju:</div>
    <select type="text" name="roomNumber" data-bind="options: viewModel.room,optionsCaption: 'Choose room'"></select>
    <div>Rodzaj wydarzenia:</div>
    <select type="text" name="eventID" data-bind="options: viewModel2.events,optionsText: 'event',optionsValue:'Id',optionsCaption: 'Choose event'"></select>
    <button type="submit">submit</button>
</form>



@section scripts
{


    <script language="javascript">

   
       

        $(document).ready(function () {
            ko.applyBindings(new UsersViewModel());
        });

        var viewModel = {
            // These are the initial options
            room: ko.observableArray()
        };

        var viewModel2 = {
            events: ko.observableArray()
        }

        function UsersViewModel() {


            var baseUri = "http://localhost:54733/api/Admin";
             this.create = function (formElement) {
                $.post(baseUri, $(formElement).serialize(), null, "json"), $(formElement).each(function () {
                    this.reset();
                });
             }          

             $.get("http://localhost:54733/api/pokoje", function (data) {
                 $.each(data, function (n, val) {
                     viewModel.room.push(val.ID_Kwaterunek);
                 });
             }, "json");


             $.get("http://localhost:54733/api/event", function (data) {
                 $.each(data, function (n, val) {

                     viewModel2.events.push({
                         Id: val.ID_Wydarzenia,
                         event: val.rodz_wydarzenia
                     })

                 });
             }, "json");
        }


        
  </script>

}
