<div>
    <a href="">Strona Usera</a>
</div>
<div>
    <a href=""> Strona Admina</a>
</div>



@section scripts
{
    <script language="javascript">

        //When the DOM is loaded, call the ko.applyBindings() and pass in a new instance of the UsersViewModel:
        $(document).ready(function () {
            ko.applyBindings(new UsersViewModel());
        });

        //Create a user view-model class:
        function UsersViewModel() {

            var self = this;
            var baseUri = "http://localhost:54733/";
            self.users = ko.observableArray(); // Init an empty observable array

            self.create = function (formElement) {
                $.post(baseUri, $(formElement).serialize(), null, "json")
                    .done(function (o) {
                        self.users.push(o);
                    });
            }
            $.getJSON(baseUri, self.users);
        }
    </script>
}