
<div id="FormContainer">
    <div id="SignMes">Zapisz się juz teraz!</div>
    <form data-bind="submit: create">
        <div class="formLeft">
            First Name:
            <br />
            <input type="text" name="firstName" required autofocus/>
        </div>
        <div>
            Last Name:
            <br />
            <input type="text" name="lastName" required autofocus/>
        </div>
        <div class="formLeft">
            Phone Number:
            <br />
            <input type="text" name="phoneNumber" pattern="(()?\d{3}())?(-|\s)?\d{3}(-|\s)?\d{3}" required autofocus/>
        </div>
        <div>
            email:
            <br />
            <input type="text" name="email"  pattern="^[a-zA-Z0-9._+-]+@("@")[a-zA-Z0-9.-]+\.[a-zA-Z]{2,9}$" required autofocus/>
        </div>

        <div class="formLeft">
            Room Number:
            <br />
            <select type="text" name="roomNumber" data-bind="options: viewModel.room,optionsText:'ID_Kwaterunek',optionsValue:'ID_Kwaterunek',optionsCaption: 'Choose room'" required></select>
        </div>

        <div>
            Event Name:
            <br />
            <select type="text" name="eventID" data-bind="options: viewModel2.events,optionsText: 'rodz_wydarzenia',optionsValue:'ID_Wydarzenia',optionsCaption: 'Choose event'" required></select>
        </div>
        <div id="sign">
            <button class="first_step" type="submit">Sign in!</button>
        </div>
    </form>

</div>

@section scripts
{


    <script language="javascript">


        $(document).ready(function () {
            ko.applyBindings(new UsersViewModel());
            viewModel.getRooms();
            viewModel2.getEvents();
        });


        var viewModel = {
            room: ko.observableArray(),
            getRooms: function () {
                var self = this;
                $.getJSON("http://localhost:54733/api/pokoje", function (data) {
                    self.room.removeAll();
                    self.room(data);
                });
                }
        }

        var viewModel2 = {
            events: ko.observableArray(),
            getEvents: function () {
                var self = this;
                $.getJSON("http://localhost:54733/api/event", function (data) {
                    self.events.removeAll();
                    self.events(data);
                });
            }
        
        }

        function UsersViewModel() {


            var baseUri = "http://localhost:54733/api/Admin";
            this.create = function (formElement) {

                $.post(baseUri, $(formElement).serialize(), null, "json"), $(formElement).each(function () {
                    this.reset();
                });
                viewModel.room.removeAll();
                viewModel.getRooms();
                alert("Zapisałeś się!");
            }
        }


    </script>

}
