body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
table {
    border-collapse: collapse;
    width:100%;
}

table, th, td {
    border: 2px solid black;
}
th,td{
    text-align:center;
}
.header {
    font-weight: bold;
    background-color: #C0C0C0; }
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}
.first_step{
  width:200px;
  height:100px;
  text-align:center;
  line-height:80px;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 24;
  -moz-border-radius: 24;
  border-radius: 24px;
  text-shadow: 5px 2px 17px #000000;
  -webkit-box-shadow: 9px 10px 3px #666666;
  -moz-box-shadow: 9px 10px 3px #666666;
  box-shadow: 9px 10px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 30px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin:20px auto;
}
.first_step:hover{
background: #fc2a2a;
  background-image: -webkit-linear-gradient(top, #fc2a2a, #ff0000);
  background-image: -moz-linear-gradient(top, #fc2a2a, #ff0000);
  background-image: -ms-linear-gradient(top, #fc2a2a, #ff0000);
  background-image: -o-linear-gradient(top, #fc2a2a, #ff0000);
  background-image: linear-gradient(to bottom, #fc2a2a, #ff0000);
  text-decoration: none;
}
#FormContainer{
  margin:20px auto;
  width: 450px;
  text-align:center;
}
.formLeft{
    width: 224px;
    position: relative;
    float: left;
    
}
#SignMes{
    font-size:20px;
}
#sign{
    margin: 0 auto;
    width: 245px;
}
#search{
    width: 100px;
    height: 50px;
    font-size: 20px;
    line-height: 28px;
}
#TableOfUser{
    overflow-y:auto;
     height:1024px;
}